* {
  margin: 0;
  padding: 0;
  font-family: "Funnel Display", sans-serif;
}

.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #c1121f;
  color: #fdf0d5;
  margin-bottom: 40px;
}

#input {
  width: 80px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1.5px solid #fdf0d5;
  background-color: #c1121f;
  color: #fdf0d5;
}

#convert-btn {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #fdf0d5;
  color: #c1121f;
  font-size: 15px;
}

.convert {
  display: flex;
  flex-direction: column;
  background-color: #fdf0d5;
  text-align: center;
  gap: 10px;
  padding: 20px;
  margin: 20px 20px;
  height: 60px;
}

.convert h2 {
  color: #c1121f;
}
